<form class="px-4 py-3" action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control <%= "border-danger" if @error_type == 1 %>" id="username" name="username" value="<%= @username %>" placeholder="">
    <% if @error_type == 1 %>
      <div class="alert alert-danger font-italic" role="alert">
      <% case @error_message
        when 1 %>
        <small>Username is less than 3 characters. Please try again.</small>
      <% when 2 %>
        <small>Username does not exist. Please try again.</small>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control <%= "border-danger" if @error_type == 2 %>" id="password" name="password" placeholder="">
    <% if @error_type == 2 %>
      <div class="alert alert-danger font-italic" role="alert">
      <% case @error_message
        when 3 %>
        <small>Password is less than 6 characters. Please try again.</small>
      <% when 4 %>
        <small>Password is incorrect. Please try again.</small>
      <% end %>
      </div>
    <% end %>
  </div>
  <button type="submit" class="btn btn-block">Log In</button>
</form>
