<div class="row">
  <div class="mx-auto">
    <h1 class="display-3">LOG IN</h1>
  </div>
</div>

<% if @previous %>
<div class="row">
  <div class="col-5 mx-auto">
    <div class="alert alert-danger font-italic text-center" role="alert">
      <small>Please log in to view <%= @previous.split("/")[2] %>'s presets.</small>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-5 mx-auto">
    <%= erb :"/sessions/form" %>
  </div>
</div>
