<h1>Log In</h1>

<p>
  <%= @message %>
</p>

<form class="" action="/login" method="POST">
  <p>
    <input type="text" name="username" value="" placeholder="Username">
  </p>

  <p>
    <input type="password" name="password" value="" placeholder="Password">
  </p>

  <p>
    <input type="submit" name="" value="Log In">
  </p>
</form>
