<div class="row">
  <div class="mx-auto">
    <h1 class="display-3">LOG IN</h1>
  </div>
</div>

<% if @message %>
<div class="row">
  <div class="col-5 mx-auto">
    <div class="alert alert-danger font-italic text-center" role="alert">
      <small><%= @message %></small>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-5 mx-auto">
    <%= erb :"/partials/login_form" %>
  </div>
</div>
