<% @page_info = {
  title: "Log In",
  heading: "LOG IN"
} %>

<div class="row">
  <div class="col-5 mx-auto">

    <% if session[:previous] %>
      <div class="alert alert-danger font-italic text-center" role="alert">
        <small>Please log in first and you will be redirected after.</small>
      </div>
    <% end %>

    <%= erb :"/sessions/form" %>
  </div>
</div>
