/* @import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
} */

div.col-sm-3 i {
  font-size: 5em;
}

@media (max-width: 575.98px) {
  div.col-sm-3 i {
    font-size: 7em;
  }
}
