<footer class="fixed-bottom dark-green-color">
  <div class="divider-2 light-brown-color"></div>
  <div class="divider-1 brown-color"></div>

  <div class="text-right">
    <small class="font-weight-light">Made with <i class="fas fa-heart"></i> by Vince Pimentel &nbsp;</small>
  </div>
</footer>
