<footer class="fixed-bottom">
  <div class="header-divider-2"></div>
  <div class="header-divider-1"></div>

  <div class="text-right">
    <small class="font-weight-light">Made with <i class="fas fa-heart"></i> & <i class="fas fa-coffee"></i> by Vince Pimentel &nbsp;</small>
  </div>
</footer>
