<nav class="navbar sticky-top navbar-expand-sm navbar-light">
  <!-- bg-light -->
  <a class="navbar-brand" href="/">gloomy weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation-bar" aria-controls="main-navigation-bar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navigation-bar">
    <div class="navbar-nav mr-auto"></div>

    <div class="navbar-nav float-right">
      <% if @user %>

        <a class="nav-item nav-link" href="/users/<%= @user.slug %>">MY PRESETS</a>

        <a class="nav-item nav-link dropdown-toggle dropdown" href="#" id="logged-in-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> <%= @user.username %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="logged-in-dropdown">
          <a class="dropdown-item" href="/users/account">ACCOUNT</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">LOG OUT</a>
        </div>

      <% else %>

        <a class="nav-item nav-link dropdown-toggle dropdown" href="#" id="login-menu-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LOG IN
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="login-menu-dropdown">
          <%= erb :"/sessions/form" %>
        </div>

        <a class="nav-item nav-link" href="/signup">SIGN UP</a>
      <% end %>
    </div>
  </div>
</nav>
