<h1>Edit Account Information</h1>

<form class="" action="/users" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <p>
    <input type="text" name="username" value="<%= @user.username %>" placeholder="Username">
  </p>

  <p>
    <input type="text" name="email" value="<%= @user.email %>" placeholder="E-mail address">
  </p>

  <p>
    <input type="password" name="password" value="" placeholder="Old Password">
  </p>

  <p>
    <input type="password" name="password!" value="" placeholder="New Password">
  </p>

  <p>
    <input type="password" name="password?" value="" placeholder="Confirm New Password">
  </p>

  <p>
    <input type="submit" name="" value="Update">
  </p>
</form>
