<h1>Register</h1>

<p>
  <%= @message %>
</p>

<form class="" action="/users" method="POST">
  <p>
    <input type="text" name="username" value="" placeholder="Username">
  </p>

  <p>
    <input type="text" name="email" value="" placeholder="E-mail address">
  </p>

  <p>
    <input type="password" name="password" value="" placeholder="Password">
  </p>

  <p>
    <input type="password" name="password?" value="" placeholder="Confirm password">
  </p>

  <p>
    <input type="submit" name="" value="Register">
  </p>
</form>
