@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color: #50aa8d;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

header nav {
  background-color: #50aa8d;
  /* background-color: #3fa78d; */
}

header a.navbar-brand, a.nav-item {
  color: #fff !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}

header a.dropdown-item {
  color: #212529 !important;
}

header a.dropdown-item a:hover {
  background-color: #fff !important;
}

/* #global-controls {

} */



footer {
  /* background-color: #2f5e4e; */
  color: #fff;
}

.divider-1 {
  height: 2px;
}

.divider-2 {
  height: 4px;
}

.lighter-brown-color {
  background-color: #d9976a;
}

.light-brown-color {
  background-color: #a67143;
}

.brown-color {
  background-color: #875323;
}

.dark-brown-color {
  color: #754516;
}

.light-green-color {
  color: #50aa8d;
}

.dark-green-color {
  background-color: #2f5e4e;
}

.yellow-color {
  color: #fceda4;
}

.green-button {
  background-color: #2f5e4e;
  border-color: #2f5e4e;
}

#pause-play {
  background-color: #754516;
  border-color: #754516;
}

button[type="submit"], button[type="button"] {
  background-color: #2a5d4f;
  color: #fff;
}

button.preset-button {
  background-color: transparent;
}

.inactive-sound {
  opacity: 0.5;
}

form[action="/presets"] div.col-sm-3 {
  margin-bottom: 75px;
}

div.col-sm-3 i {
  font-size: 5em;
  color: #fceda4;
  text-shadow: 3px 3px 3px #734517;
}

@media (max-width: 575.98px) {
  div.col-sm-3 {
    width: 50%;
    margin-bottom: 40px;
  }

  div.col-sm-3 i {
    font-size: 7em;
  }
}
