@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color: #50aa8d;
  color: #fff;
  /* font-family: 'Quicksand', sans-serif; */
}

header nav {
  background-color: #2a5d4f;
  /* background-color: #3fa78d; */
}

header a {
  color: #fff !important;
}

footer {
  background-color: #2a5d4f;
}

.header-divider-1 {
  background-color: #865223;
  height: 2px;
}

.header-divider-2 {
  background-color: #a67143;
  height: 4px;
}

.dark-brown-color {
  color: #734517;
}

.light-brown-color {
  color: #865223;
}

.light-green-color {
  color: #50aa8d;
}

.dark-green-color {
  color: #2a5e50;
}

.yellow-color {
  color: #fceda4;
}

.table-main-color {
  color: #d9976a;
}

.table-shadow-color {
  color: #a67143;
}

#save-preset, #reset-all {
  background-color: #2a5e50;
  border-color: #2a5e50;
}

#pause-play {
  background-color: #734517;
  border-color: #734517;
}


div.col-sm-3 i {
  color: #fceda4;
  text-shadow: 4px 3px 0px #734517;
}

div.col-sm-3 i {
  font-size: 5em;
}

@media (max-width: 575.98px) {
  div.col-sm-3 i {
    font-size: 7em;
  }
}
