<form class="px-4 py-3" action="/users/account" method="POST">

  <input type="hidden" name="_method" value="DELETE">

  <div class="form-group">
    <label for="password_del">Password</label>
    <input type="password" class="form-control <%= "is-invalid" if @delete_error %>" id="password_del" name="password_del" <%= "autofocus" if @delete_error %> placeholder="Minimum 6 characters">

    <% if @delete_error %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        • <%= @delete_error %>.

      </div>

    <% end %>

  </div>

  <button id="delete-account" type="submit" class="btn btn-block">Delete</button>

</form>
