<% @title = "Experience Tranquility" %>

<!-- <audio controls id="rain" volume="0.25">
  <source src="https://od.lk/s/MjZfODk0MzgwMV8/Meizong%20-%20Conundrum.mp3" type="audio/mpeg">
</audio>

<a href="#"><i class="fas fa-cloud-showers-heavy" onclick="document.getElementById('rain').play(); document.getElementById('rain').volume=0.25" onchange="document.getElementById('rain').volume=(this.value+0.25)" style="font-size: 5em"></i></a> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-3 text-center">
      <audio id="rain-audio" loop>
        <source src="https://od.lk/s/MjZfODk0MzgwMV8/Meizong%20-%20Conundrum.mp3" type="audio/mpeg">
      </audio>

      <button id="rain-button" type="button" class="btn"><i id="rain-icon" class="fas fa-cloud-rain"></i></button>
      <br>
      <!-- <span id="rain-volume" class="text-muted">100</span> -->
      <input id="rain-volume" class="form-control-plaintext text-center" type="number" name="" value="100"  disabled>

    </div>
    <div class="col-sm-3 text-center">
      <i class="fas fa-bolt"></i>
    </div>
    <div class="col-sm-3 text-center">
      <i class="fas fa-water"></i>
    </div>
    <div class="col-sm-3 text-center">
      <i class="fas fa-umbrella-beach"></i>
    </div>
  </div>
</div>
