<% @title = "Experience Tranquility" %>

<form class="" action="/presets" method="post">
  <div id="global-controls" class="row justify-content-center">
    <div class="btn-group">
      <button id="save-preset" type="submit" class="btn btn-secondary">save</button>
      <button id="pause-play" type="button" class="btn btn-dark"><i class="fas fa-play"></i> | <i class="fas fa-pause"></i></button>
      <button id="reset-all" type="button" class="btn btn-secondary">reset</button>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-3 text-center">

        <audio id="rain-audio" preload="auto" autoplay loop>
          <source src="https://jukehost.co.uk/api/audio/9cc957e015992dfb78334f2cb34a630953a7aaf0/aee2e72d788" type="audio/mpeg">
        </audio>

        <button id="rain" type="button" class="btn preset-button"><i id="rain-icon" class="fas fa-cloud-rain dark-green-color"></i></button>
        <br>

        <input id="rain-input" class="form-control-plaintext text-center" type="number" name="rain_volume" value="" hidden>

        <span id="rain-volume" class="badge badge-pill"></span>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->

</form>

<h4>to-do:</h4>
<ol>
  <li>add invalid feedback to forms</li>
  <li>fix audio levels</li>
</ol>
