<% @title = "Experience Tranquility" %>

<!-- <audio controls id="rain" volume="0.25">
  <source src="https://od.lk/s/MjZfODk0MzgwMV8/Meizong%20-%20Conundrum.mp3" type="audio/mpeg">
</audio>

<a href="#"><i class="fas fa-cloud-showers-heavy" onclick="document.getElementById('rain').play(); document.getElementById('rain').volume=0.25" onchange="document.getElementById('rain').volume=(this.value+0.25)" style="font-size: 5em"></i></a> -->

<div class="card-group">
  <div class="card text-center">
    <div class="card-body">
      <audio id="rain-audio" loop>
        <source src="https://od.lk/s/MjZfODk0MzgwMV8/Meizong%20-%20Conundrum.mp3" type="audio/mpeg">
      </audio>

      <button id="rain-button" type="button" class="btn"><i id="rain-icon" class="fas fa-cloud-rain"></i></button>
    </div>
    <div class="card-footer text-muted">
      <span id="rain-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"><i class="fas fa-bolt"></i></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <audio id="#-audio" loop>
        <source src="#" type="audio/mpeg">
      </audio>

      <button id="#-button" type="button" class="btn"></button>
    </div>
    <div class="card-footer text-muted">
      <span id="#-volume">100</span>
    </div>
  </div>
</div>
