<% @title = "Experience Tranquility" %>

<!-- <audio controls id="rain" volume="0.25">
  <source src="https://od.lk/s/MjZfODk0MzgwMV8/Meizong%20-%20Conundrum.mp3" type="audio/mpeg">
</audio>

<a href="#"><i class="fas fa-cloud-showers-heavy" onclick="document.getElementById('rain').play(); document.getElementById('rain').volume=0.25" onchange="document.getElementById('rain').volume=(this.value+0.25)" style="font-size: 5em"></i></a> -->

<h4>to-do:</h4>
<p>add invalid feedback to forms</p>

<form class="" action="/presets" method="post">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-3 text-center">
        <audio id="rain-audio" loop>
          <source src="https://od.lk/s/MjZfODk0MzgwMV8/Meizong%20-%20Conundrum.mp3" type="audio/mpeg">
          </audio>

          <button id="rain" type="button" class="btn"><i class="fas fa-cloud-rain"></i></button>
          <br>

          <input id="rain-volume" class="form-control-plaintext text-center" type="number" name="rain_volume" value="" readonly>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-success" name="">Save</button>

      <button type="submit" class="btn btn-secondary" id="reset">Reset</button>
    </div>

</form>
