<% @page_info = {
  title: nil,
  heading: nil
} %>


<% if session[:message] %>
<%= session[:message] %>
<% end %>

<form class="" action="/test" method="post">
  <input type="text" name="" value="">
  <br>
  <input type="submit" name="" value="Submit">
</form>
