<div class="col-sm-3 text-center">
  <audio id="rain-audio" loop>
    <source src="https://od.lk/s/MjZfODk0MzgwMV8/Meizong%20-%20Conundrum.mp3" type="audio/mpeg">
  </audio>

  <button id="rain" type="button" class="btn"><i class="fas fa-cloud-rain"></i></button>
  <br>

  <input id="rain-volume" class="form-control-plaintext text-center" type="number" name="rain_volume" value="" disabled>
</div>

<div class="col-sm-3 text-center">
  <audio id="fire-audio" loop>
    <source src="#" type="audio/mpeg">
  </audio>

  <button id="fire" type="button" class="btn"><i class="fas fa-bolt"></i></button>
  <br>

  <input id="fire-volume" class="form-control-plaintext text-center" type="number" name="fire_volume" value="" disabled>
</div>
