<% @page_info = {
  title: "TEST",
  heading: "TEST"
} %>

<%= flash[:notice] %>

<form class="" action="/test" method="post">
  <input type="text" name="" value="">
  <input type="submit" name="" value="TEST">
</form>
